<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#FFAA01">
    <title>@ViewBag.Title - Dobrodošli u Aviato</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/style.css">
    <link href="~/Content/login.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>


    @if (Request.IsAuthenticated)
    {
        
            <div class="container">
                <div class="navbar-header" style="display:inline;">
                   
                </div>
                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav" style="display:inline;">

                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        @if (Roles.IsUserInRole("Admin") || Roles.IsUserInRole("SuperUser"))
                        {
                            if (Roles.IsUserInRole("SuperUser"))
                            {
                                <li>@Html.ActionLink("Destinacije", "Index", "Destinacija")</li>
                                <li>@Html.ActionLink("Jezici", "Index", "Jezik")</li>
                                <li>@Html.ActionLink("Tipovi aviona", "Index", "Tip")</li>
                                <li>@Html.ActionLink("Avioni", "Index", "Avion")</li>
                                <li>@Html.ActionLink("Role", "Index", "Role")</li>
                            }

                            <li>@Html.ActionLink("Letovi", "Index", "Let")</li>
                            <li>@Html.ActionLink("Zaposleni", "Index", "Zaposleni")</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial", new { @style = "display: inline;" })
                </div>
            </div>
        
    }

    <div class="cst-all-wrapper">
        <div class="cst-all-wrapper-inside py-lg-4">
            <div class="container-fluid cst-login-container h-100">
                <div class="row h-100-cust">
                    <div class="cst-main-col col-12 col-md-8 col-lg-6 col-xl-5 mx-auto p-0 h-100-cust">
                        <div class="cst-dark-blue-bcg p-2 p-md-4 h-100">
                            <div class="cst-logo-holder mx-auto mt-3 pt-4">
                                <img class="img-fluid" src="~/Images/logo-transparent.png" alt="logo">
                            </div>
                            <p class="mb-5 text-center font-weight-light">Air Company Management App</p>
                            @RenderBody()
                            <hr />

                            <footer>

                                @if (Request.IsAuthenticated)
                                {
                                    @Html.ActionLink("Početna", "Index", "Home") <span> | </span>
                                    
                                }
                                &copy; @DateTime.Now.Year <span class="fab fa-aviato"></span> powered by ČĎŠ

                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    
     
</body>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>

</html>
