@using Aviato.Models
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/style.css">

@model LoginViewModel
@{
    ViewBag.Title = "Uloguj se";
}
<section id="loginForm">
    <div class="form-holder mt-4">

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "cst-form mx-auto mt-5 pt-5", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group cst-form-group mt-5">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control cst-input", id = "email", @required="true" })
                <label id="proba" class="cst-label" for="email"><span class="material-icons cst-input-icon">person_outline</span><span>Email</span></label>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "" })
            </div>

            <div class="form-group cst-form-group mt-5">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control cst-input", id = "password", @required = "true" })
                <label class="cst-label" for="Password"><span class="material-icons cst-input-icon">lock</span><span>Password</span></label>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "" })
            </div>

            <div class="form-group cst-form-group mt-5">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe, "Upamti me")
                    </div>
                </div>
            </div>

            <div class="mx-auto w-100">
                <input type="submit" value="Log in" class="btn btn-default cst-login-btn cst-light-blue-bcg cst-dark-blue-clr w-100 mt-4 mx-auto" />
            </div>
        }
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="~/Scripts/main.js"></script>
<script src="~/Scripts/login.js"></script>
@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
